.app {
  background-color: red;
  &__header {
    display: flex;
    align-items: center;
    &--menu {
      flex: 1;
      min-width: 0;
    }
  }
  &__sider {
    &__menu {
      height: 100%;
      border-right: 0;
    }
  }
  &__breadLayout {
    padding: 0 24px 24px;
  }
  &__bread {
    margin: 16px 0;
  }
  &__content {
    padding: 24;
    margin: 0;
    min-height: 280;
  }
}
.demo__logo {
  width: 140px;
  height: 100%;
  background: url(src/assets/logo.png) no-repeat center center;
  background-size: 100%;
  margin-right: 40px;
}
.login {
  color: #ffa857;
  font-size: 20px;
}
:global(.ant-menu-item-selected) {
  background-color: #f2c090 !important;
}
