{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "@babel/preset-typescript" // 解析ts
  ],
  "plugins": [
    // @babel/preset-env都内置了这些插件了
    // "lodash",
    // 动态import语法
    // "@babel/plugin-syntax-dynamic-import",
    // 使用这个插件，‌开发者可以在类定义中直接进行属性的赋值和方法的定义，‌而无需使用传统的构造函数或其他方式
    // "@babel/plugin-proposal-class-properties",
    // 可选链
    // "@babel/plugin-proposal-optional-chaining",
    // 允许使用??这种操作符，高版本应该已经支持了
    // "@babel/plugin-proposal-nullish-coalescing-operator",
    // 适配器
    // ["@babel/plugin-proposal-decorators", { "legacy": true }],
    // 打包优化，压缩包体积、语法垫片、按需引入
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        // "@babel/transform-react-jsx-source", // 内置在了@babel/preset-env，它能够帮助开发者快速定位组件源码，‌尤其是在调试过程中
        // 热更新
        "react-hot-loader/babel"
      ]
    }
  }
}
